<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/pico.min.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <title>Feetter: Edit</title>
  </head>
  <body>
    <main class="container">
        {% if data['result'] %}
          <h6 color='green' style='color:green;'> > User deleted.</h6>
        {% endif %}
        <hgroup>
        <h2> Editing <a href="/user/{{data['username']}}"><kbd>{{data['username']}}</kbd></a> '{{data['feedname']}}' feed</h2>
        <h4> {{data['i']}}/30 users in this feed </h4>
        </hgroup>

        <table>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Username</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {{data['table'] | safe}}
          </tbody>
        </table>
        <form action="/adduser/{{data['username']}}/{{data['feedname']}}" method="post">
            <div class="grid">
                <label for="firstname">
                    Add user
                    <input type="text" id="username" name="username" placeholder="@username" required>
                </label>
            </div>
            <button class="secondary" type="submit">+ Add</button>
        </form>
        <a href="/delete/{{data['username']}}/{{data['feedname']}}?userAction=True" style="float: right; padding: 5px !important; font-size: 1em; margin-top: 1em;" role='button' class='secondary danger outline'>🗑️ DELETE FEED</a>
        <a href="/user/{{data['username']}}" style="float: left; padding: 5px !important; font-size: 1em; margin-top: 1em;" role='button' class='primary outline'>🔙 RETURN</a>
    </main>
    {{data['footer'] | safe}}
  </body>
</html>
