<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/pico.min.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <title>Error Feetter</title>
  </head>
  <body>
    <header class="container">
        <hgroup>
          <h2> {{error}} (anymore) </h2>
          <h3 class="contrast"> {{error}} </h3>
          {% if return %}
            <a href={{ret}} type="button" class="secondary">Go back</a>
          {% endif %}
        </hgroup>
        <img style="width:38vw;" src="/static/img/error.png" alt="Error Dinosaur">
    </header>
  </body>
</html>
